// @use "../../scss/base/variables" as *;

// .card-cancel-button {
//     font-size: 16px;
//     text-align: center;
//     margin-top: 10px;
//     border-radius: 25px;
//     background-color: $backgroundColor;
//     cursor: pointer;
//     font-weight: bold;
// }

// @import "variables";
@use "variables" as *;

.card-cancel-button {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: $backgroundColor;
    cursor: pointer;
    font-weight: bold;
}
