<div class="container">
  <!-- Eventps -->
  <input id="meu-input" class="form-control" [value]="inputText" [type]="inputType" [disabled]="istDisabled"
    (input)="handleInputEvent($event)">
  <!-- <input id="meu-input" [value]="inputText" [type]="inputType" [disabled]="istDisabled" (keyup)="handleInputkeyup($event)"> -->

  <br>
  <button class="btn btn-primary" (click)="enableInput()">Habilitar</button>
  <button class="btn btn-primary" (click)="disableInput()">Desabilitar</button>
  <button class="btn btn-primary" (click)="setType()">Tipo do input: {{ btnType }}</button>

  <br>
  <br>
  <!-- Atributos -->
  <button class="btn btn-primary" [attr.title]="btnTitle">Texto ilustrativo</button>
  <button class="btn btn-primary" [attr.disabled]="btnDisabled ? true : null">Desabilitado</button>
  <button class="btn btn-primary" (click)="buttonClick()">Botão clicado</button>

  <br>
  <br>
  <!-- Style -->
  <button style="background-color: aqua; width: 100px;">Botão 1</button><br>

  <button [style.width]="btnWidth" [style.backgroundColor]="btnBackground">Botão 2</button><br>
  <button [style.width.px]="btnWidth2" [style.backgroundColor]="'pink'">Botão 3</button><br>
  <button [style]="'background-color: aqua; width: 130px; background-color: brown'">Botão 4</button><br>
  <button [style]="{backgroundColor: 'orange', width: '140px'}">Botão 5</button><br>
  <button [style]="btnStyle">Botão 6</button><br>

  <button (click)="updateObject()">Atualizar objeto</button><br>
  <button (click)="updateObjectCorrent()">Atualizar objeto corretamente</button><br>
  <button (click)="updateWidth()">Atualizar largura do botão</button><br>

  <br>
  <br>

  <!-- Classe -->
  <button [class.red-button]="isRed">Vermelho</button>
  <button [class.green-button]="isGreen">Verde</button>

  <button [class]="'green-button red-button'">Verde Vermelho</button>
  <button [class]="{
    'green-button': isGreen,
    'red-button': isRed
    }">Objeto</button>

    <button (click)="invertColors()">Invverter cores dos botões</button>

</div>
