<div class="container">
    <h1 class="font-medium mb-3">Event Binding</h1>

    <input [type]="inputType" [ngClass]="{ 'input-element': true, 'input-element--disabled': isDisabled }"
        placeholder="Digite o nome do evento" [value]="inputText" [disabled]="isDisabled"
        (keyup)="handleInputKeyup($event)">

    <br>

    <div class="mt-5">
        <button class="btn" (click)="disableInput()">Desabilitar</button>
        <button class="btn" (click)="enableInput()">Habilitar</button>
    </div>

    <div class="mt-1">
        <button class="btn" (click)="setPasswornTypeInput()">Tipo Texto</button>
        <button class="btn" (click)="setTextTypeInput()">Tipo Texto</button>
    </div>

    <div class="mt-1">
        <button class="btn" (click)="logInputText()">Log</button>
    </div>

    <hr>


    <h1 class="font-medium mb-3 mt-5">Attribute Binding</h1>

    <div class="mt-5">
        <button class="btn" [attr.title]="buttonTitle">Botão teste</button>
        <button class="btn" [attr.disabled]="buttonDisabled ? true : null">Disabled</button>
    </div>

    <div class="mt-1">
        <button class="btn" (click)="onButtonClick()">Mudar props</button>
    </div>

    <hr>
</div>
